################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Icarus
.vscode/*
/bin/*
/bin/Debug/netcoreapp2.2
/Migrations
/obj
/obj/*
/Icarus.txt
/appsettings.json
/appsettings.Development.json
appsettings.Development.json
appsettings.json
Icarus/bin
Icarus/obj
Models/bin
Models/obj
Migrations
Icarus.txt
Storage
.DS_Store
