[submodule "Libs/cpr"]
	path = 3rdparty/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "3rdparty/taglib"]
	path = 3rdparty/taglib
	url = https://github.com/taglib/taglib
[submodule "3rdparty/oatpp"]
	path = 3rdparty/oatpp
	url = https://github.com/oatpp/oatpp
[submodule "build/3rdparty/jwt-cpp"]
	path = build/3rdparty/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
[submodule "3rdparty/jwt-cpp"]
	path = 3rdparty/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
[submodule "3rdparty/ormpp"]
	path = 3rdparty/ormpp
	url = https://github.com/qicosmos/ormpp
[submodule "3rdparty/mysql-connector-cpp"]
	path = 3rdparty/mysql-connector-cpp
	url = https://github.com/mysql/mysql-connector-cpp
