################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Icarus
/bin/*
/bin/Debug/netcoreapp2.2
/Migrations
/obj
/obj/*
/Icarus.txt
/appsettings*.json
